<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h5 class="heading5">Follow Us</h5>
              <ul class="socialIcon">
                  <li tooltip="Find Us on Google Plus"><a href="https://plus.google.com/111154228660835588284/posts" target="_blank"><span class="fa fa-google"></span></a></li>
                  <li tooltip="Find Us on Facebook"><a href="https://www.facebook.com/IamRohitAzad" target="_blank"><span class="fa fa-facebook"></span></a></li>
                  <li tooltip="Find Us on Twitter"><a target="_blank" href="https://twitter.com/rohitazad"><span class="fa fa-twitter"></span></a></li>
                  <li tooltip="Find Us on Linkedin"><a target="_blank" href="http://in.linkedin.com/in/rohitazad"><span class="fa fa-linkedin"></span></a></li>
                  <li tooltip="Find Us on StackOverflow"><a target="_blank" href="http://stackoverflow.com/users/1365428/rohit-azad"><span class="fa fa-stack-overflow"></span></a></li>
                  <li tooltip="Find Us on GitHub"><a target="_blank" href="https://github.com/rohitazad"><span class="fa fa-github-square"></span></a></li>
              </ul>
          </div>
      </div>
      
      <div class="row">
          <div class="col-lg-12">
              <p class="foText">Copyright © 2018. All right reserved. <a>Disclaimer</a>
              Design &amp; Develop By : <a tooltip="Check Rohit Azad Site" href="http://www.rohitazad.com/" target="_blank">Rohit Azad Malik</a>

              </p>
          </div>
      </div>
  </div>

  
</footer>