
<div class="">
 
<h1>Analytics Reports</h1>
<!-- This is dashboard... <br />
http://anthonygiretti.com/2017/10/12/using-google-charts-in-angular-4-project-part-2/

<br />
https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart

<button (click)="chartDrawBtnClick()" mat-raised-button color="primary">
  Click to Draw Chart
</button> -->

<div class="chartSec">
  <div id="donutchart" [ngClass]="{'chartClass':drawValue}" class="drawValue2"></div>
  <div id="curve_chart" [ngClass]="{'chartClass':drawValue}" class="drawValue2"></div>
</div>
<div id="curve_chart2" [ngClass]="{'chartClass':drawValue}" class="drawValue2"></div>

</div>
