



<div class="login-container">
 
  <mat-card>

      <div class="brand">
          Login 
      </div>
<form [formGroup]="userLoginForm" novalidate (ngSubmit)="loginForm()">
    <mat-form-field>
      <input [formControlName]="'userId'" matInput placeholder="Enter your user id" type="text">
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  
  <mat-form-field>
      <input matInput [formControlName]="'userPwd'" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>



    <button mat-raised-button color="primary" [disabled]="!userLoginForm.valid">
      Login
    </button>
</form>
  <div class="link-sec">
    <div class="lft-sec inline-block"><a [routerLink]="['/forget-password']">Forgot password?</a></div>
    <div class="rgt-sec inline-block">Not a member? <a class="color-blue" [routerLink]="['/sign-up']">Create accaunt</a></div>
  </div>
  


  </mat-card>

  

</div>



